{{> menu id="dashboard"}}

<section class="ui left aligned middle aligned segment">
  
  <h2>Playlist App Dashboard</h2>
  
  {{#unless playlists}}
    <h3 class="ui message">
      Start adding your playlists!
    </h3>
  {{/unless}}

  {{#each playlists}}
    <section class="ui left aligned middle aligned segment">

      <h3 class="ui header">
        {{title}}
      </h3>
<!-- Exercise 1 - add song length -->
      {{#if songs}}
      <p> Total Songs: {{songs.length}} </p>     
      
      <!-- replace word view with a fomantic ui icon for open folder -->
      <a href="/playlist/{{id}}"><i class = "ui open outline black folder icon"></i></a>
{{else}}
<p> empty Playlist!</p>
{{/if}}
    </section>
  {{/each}}

</section>


{{! old code before playlist added }}
{{!{{> menu id="dashboard"

<section class="ui left aligned middle aligned segment">
  
    <h2>Playlist App Dashboard</h2>
      <p>
        Playlists will be displayed here
      </p>

</section> }}
